@import "../../var-mixins";

.menu {
  display: flex;
  position: fixed;
  max-width: 1366px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: $azul-forte;
  padding: 1rem;
  box-shadow: 0px 1px 17px 1px #18181840;
  font-family: $font-nunito;
  a {
    text-decoration: none;
  }
}
.menu__logo-content {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.5rem;
  }
}
.menu__logo {
  color: $branco;
  text-align: center;
  font-size: rem(22);
  font-weight: bold;
}

.menu__ul {
  display: flex;
  align-items: center;
  li {
    display: flex;
    list-style: none;
    &:first-child {
      margin-right: 2rem;
    }
  }
  a {
    color: $branco;
  }
}

.menu__icon {
  width: rem(20);
  color: $branco;
  margin-right: rem(4);
}

.menu__user {
  display: flex;
  margin-right: 16px;
}
.menu__user_icon {
  width: rem(20);
  fill: $branco;
  margin-right: 0.5rem;
}

.menu__user_name {
  color: $branco;
}
