.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  max-width: 1366px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1a374d;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 17px 1px #18181840;
          box-shadow: 0px 1px 17px 1px #18181840;
  font-family: "Nunito", sans-serif;
}

.menu a {
  text-decoration: none;
}

.menu__logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo-content svg {
  margin-right: 0.5rem;
}

.menu__logo {
  color: #fff;
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
}

.menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__ul li:first-child {
  margin-right: 2rem;
}

.menu__ul a {
  color: #fff;
}

.menu__icon {
  width: 1.25rem;
  color: #fff;
  margin-right: 0.25rem;
}

.menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

.menu__user_icon--user {
  fill: #fff;
  margin-right: 0.5rem;
  width: 1.25rem;
}

.menu__user_icon--logout {
  color: #fff;
  width: 1.625rem;
  margin-left: 4rem;
  cursor: pointer;
}

.menu__user_name {
  color: #fff;
  text-transform: capitalize;
}
