.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  max-width: 1366px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1a374d;
  padding: 0 1rem;
  -webkit-box-shadow: 0px 1px 17px 1px #18181840;
          box-shadow: 0px 1px 17px 1px #18181840;
  font-family: "Nunito", sans-serif;
}

.menu a {
  text-decoration: none;
}

.menu__logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo-content svg {
  margin-right: 0.5rem;
}

.menu__logo {
  color: #ece6e6;
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
}

.menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__ul li:first-child {
  margin-right: 2rem;
}

.menu__ul a {
  color: #ece6e6;
  text-transform: uppercase;
  padding: 0.8rem;
}

.menu__ul a.active {
  background-color: #406882;
}

.menu__user {
  position: relative;
  margin-right: 1rem;
}

.menu__user_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__user_icon--user {
  fill: #ece6e6;
  margin-right: 0.5rem;
  width: 1.25rem;
  cursor: pointer;
}

.menu__user_name {
  color: #ece6e6;
  text-transform: capitalize;
}

.menu__user_dropdown {
  display: none;
  position: absolute;
  min-width: 6.25rem;
  left: -4.0625rem;
  top: 2.5rem;
  border-radius: 4px;
  background-color: #1a374d;
  z-index: 2;
  -webkit-box-shadow: 0px 1px 17px 1px #18181840;
          box-shadow: 0px 1px 17px 1px #18181840;
}

.menu__user_dropdown p {
  color: #181818;
  background-color: white;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0 4px 4px 0;
  margin-left: 1.2rem;
  white-space: nowrap;
  cursor: pointer;
}

.menu__user_dropdown::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 0.9375rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.menu__user_dropdown--active {
  display: block;
}

.menu__user_logout-target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../imgs/logout.svg") 0.3125rem no-repeat;
  background-size: 1.5rem;
}

.menu__user_icon--logout {
  width: 1.5rem;
  height: 1.5rem;
}
