@import "../../assets/styles/_var-mixins";

.labelComp {
  display: block;
  font-family: $font-nunito;
  font-size: rem(18);
  font-weight: bold;
  color: $preto;
  margin-top: rem();
}

.inputComp {
  display: block;
  padding: rem(12);
  width: 100%;
  border: 2px solid $azul-fraco;
  border-radius: 3px;
  font-size: rem();
  font-family: $font-roboto;
  &:focus,&:hover {
    outline: none;
    border-color: $azul-medio;
  }
  &::placeholder {
    opacity: .8;
  }
  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
        margin: 0;
  }
}
