.labelComp {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #181818;
  margin-top: 1rem;
}

.inputComp {
  display: block;
  padding: 0.75rem;
  width: 100%;
  border: 2px solid #B1D0E0;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.inputComp:focus, .inputComp:hover {
  outline: none;
  border-color: #6998AB;
}

.inputComp::-webkit-input-placeholder {
  opacity: .8;
}

.inputComp:-ms-input-placeholder {
  opacity: .8;
}

.inputComp::-ms-input-placeholder {
  opacity: .8;
}

.inputComp::placeholder {
  opacity: .8;
}

.inputComp[type=number]::-webkit-inner-spin-button, .inputComp[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
