.radio-label:nth-child(2) {
  display: inline-block;
  margin: 0 1rem;
}

.radio-label {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
}

.radio-label input[type="radio"] {
  margin-right: 0.1875rem;
  position: relative;
  bottom: -1.3px;
}
