@import "../../var-mixins";

.finalizados {
  padding: 1.7rem;
}
.finalizados__title {
  font-family: $font-nunito;
  font-weight: 100;
  font-size: rem(32);
  color: $preto;
  margin-right: rem();
}
.finalizados__header {
  margin-top: rem(55);
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  h2 {
    font-family: $font-nunito;
    flex: 1;
  }
}

.finalizados__search {
  display: block;
  padding: 0.47rem 1rem 0.47rem 2.2rem;
  font-size: 1rem;
  background: url("../../imgs/search.svg") no-repeat 5px center;
  background-size: 24px;
  border: 2px solid $azul-fraco;
  border-radius: 3px;
  margin-right: 2rem;
  &:focus,
  &:hover {
    outline: none;
    border-color: $azul-medio;
  }
}

.finalizados__table-content {
  height: rem(380);
  overflow-y: scroll;
  & table thead tr {
    position: sticky;
    top: 0;
  }
}

.finalizados__table-content::-webkit-scrollbar {
  width: rem();
}

.finalizados__table-content::-webkit-scrollbar-thumb {
  background: $azul-fraco;
  border-radius: 3px;
  &:hover {
    background: $azul-medio;
  }
}

.finalizados__table {
  width: 100%;
  font-family: $font-roboto;
  border-collapse: collapse;
  & td,
  th {
    padding: rem(12) rem(15);
    border: 1px solid #ccc;
  }
  thead {
    th:nth-child(1) {
      width: rem(198);
    }
    th:nth-child(2) {
      width: rem(280);
    }
    th:nth-child(3),
    th:nth-child(4) {
      width: rem(140);
    }
    th:last-child {
      width: rem(148);
    }
    tr {
      font-size: rem(14);
      font-weight: bold;
      color: $branco;
      text-transform: uppercase;
      background-color: $azul;
      text-align: left;
    }
  }
  tbody {
    tr {
      font-size: rem(14);
    }
    tr:nth-child(even) {
      background-color: rgb(231, 231, 231);
    }
    td:nth-child(2) {
      font-weight: bold;
    }
  }
}

.finalizados__status--true {
  color: green;
}

.finalizados__status--false {
  color: red;
}

.finalizados__status--true,
.finalizados__status--false {
  font-weight: bolder;
}

.finalizados__tipo--red {
  color: red;
}
