.content {
  padding: 1.7rem;
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__title {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: #181818;
  margin-right: 1rem;
}

.content__title_icon {
  display: inline-block;
  width: 50px;
  fill: #fb1;
  color: #fb1;
}
