@import "../../var-mixins";

.menu {
  display: flex;
  position: fixed;
  max-width: 1366px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: $azul-forte;
  padding: 0 1rem;
  box-shadow: 0px 1px 17px 1px #18181840;
  font-family: $font-nunito;
  a {
    text-decoration: none;
  }
}
.menu__logo-content {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.5rem;
  }
}
.menu__logo {
  color: $branco;
  text-align: center;
  font-size: rem(22);
  font-weight: bold;
}

.menu__ul {
  display: flex;
  align-items: center;
  li {
    display: flex;
    list-style: none;
    &:first-child {
      margin-right: 2rem;
    }
  }
  a {
    color: $branco;
    text-transform: uppercase;
    padding: 0.8rem;
  }
  a.active {
    background-color: $azul;
  }
}

.menu__user {
  position: relative;
  margin-right: 1rem;
}

.menu__user_content {
  display: flex;
  align-items: center;
}

.menu__user_icon--user {
  fill: $branco;
  margin-right: 0.5rem;
  width: rem(20);
  cursor: pointer;
}

.menu__user_name {
  color: $branco;
  text-transform: capitalize;
}

.menu__user_dropdown {
  display: none;
  position: absolute;
  min-width: rem(100);
  left: - rem(65);
  top: rem(40);
  border-radius: 4px;
  background-color: $azul-forte;
  z-index: 2;
  box-shadow: 0px 1px 17px 1px #18181840;
  p {
    color: $preto;
    background-color: white;
    width: 100%;
    padding: 0.4rem;
    border-radius: 0 4px 4px 0;
    margin-left: 1.2rem;
    white-space: nowrap;
    cursor: pointer;
  }
}

.menu__user_dropdown::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: rem(15);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.menu__user_dropdown--active {
  display: block;
}

.menu__user_logout-target {
  display: flex;
  align-items: center;
  background: url("../../assets/imgs/logout.svg") rem(5) no-repeat;
  background-size: rem(24);
}

.menu__user_icon--logout {
  width: rem(24);
  height: rem(24);
}
