.addNF {
  margin-top: 3.75rem;
  padding: 2rem 1rem 0rem 1rem;
}

.addNF__title {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: #181818;
}

.addNF__tipo {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: bold;
}

.addNF__tipo--red {
  color: red;
}

.addNf__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addNf__row label {
  width: 100%;
}

.addNf__row label:first-child {
  margin-right: 16px;
}

.addNF__button {
  display: block;
  padding: 0.75rem;
  background-color: #406882;
  border: none;
  color: #ece6e6;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 3px;
  font-size: 1.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.addNF__button:hover {
  background-color: #1a374d;
}
