.finalizados {
  padding: 0.5rem 1rem;
  margin-top: 3.875rem;
}

.finalizados__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.finalizados__header h2 {
  color: #181818;
  font-family: "Nunito", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.finalizados__search {
  display: block;
  padding: 0.47rem 1rem 0.47rem 2.2rem;
  font-size: 1rem;
  background: url("../../assets/imgs/search.svg") no-repeat 5px center;
  background-size: 24px;
  border: 2px solid #b1d0e0;
  border-radius: 3px;
  margin-right: 1rem;
}

.finalizados__search:focus, .finalizados__search:hover {
  outline: none;
  border-color: #6998ab;
}

.finalizados__table-content {
  max-height: 24.3125rem;
  overflow-y: scroll;
}

.finalizados__table-content table thead tr {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.finalizados__table-content::-webkit-scrollbar {
  width: 1rem;
}

.finalizados__table-content::-webkit-scrollbar-thumb {
  background: #b1d0e0;
  border-radius: 3px;
}

.finalizados__table-content::-webkit-scrollbar-thumb:hover {
  background: #6998ab;
}

.finalizados__table {
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
}

.finalizados__table td,
.finalizados__table th {
  padding: 0.75rem 0.9375rem;
  border: 1px solid #ccc;
}

.finalizados__table thead th:nth-child(1) {
  width: 12.375rem;
}

.finalizados__table thead th:nth-child(2) {
  min-width: 17.5rem;
}

.finalizados__table thead th:nth-child(3),
.finalizados__table thead th:nth-child(4) {
  width: 8.75rem;
}

.finalizados__table thead th:last-child {
  width: 5.625rem;
  text-align: center;
}

.finalizados__table thead tr {
  font-size: 0.875rem;
  font-weight: bold;
  color: #ece6e6;
  text-transform: uppercase;
  background-color: #406882;
  text-align: left;
}

.finalizados__table tbody tr {
  font-size: 0.875rem;
}

.finalizados__table tbody tr:nth-child(even) {
  background-color: #e7e7e7;
}

.finalizados__table tbody td:nth-child(2) {
  font-weight: bold;
  text-transform: capitalize;
}

.finalizados__table tbody td:last-child {
  text-align: center;
}

.finalizados__status--true {
  color: green;
}

.finalizados__status--false {
  color: red;
}

.finalizados__status--true,
.finalizados__status--false {
  font-weight: bolder;
}

.finalizados__tipo--red {
  color: red;
}

.finalizados__table_icon {
  cursor: pointer;
  border: none;
  vertical-align: middle;
  background: #6998ab;
  padding: 0.2rem;
  border-radius: 3px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.finalizados__table_icon:hover {
  background: #406882;
}

.finalizados__table_icon svg {
  min-width: 1.125rem;
  color: #ece6e6;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  padding-right: 1rem;
}

.pagination__select {
  display: block;
  border: 2px solid #b1d0e0;
  border-radius: 3px;
  padding: 0.5rem 0;
}

.pagination__select:focus, .pagination__select:hover {
  outline: none;
  border-color: #6998ab;
}

.pagination__buttons button {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  padding: 0 6px;
  font-size: 18px;
  color: #ece6e6;
  background-color: #406882;
  border-radius: 4px;
}

.pagination__info {
  font-family: "Nunito", sans-serif;
  margin-left: 2rem;
}
