// Fontes
$font-nunito: "Nunito", sans-serif;
$font-roboto: "Roboto", sans-serif;
// Cores
$azul-forte: #1a374d;
$azul: #406882;
$azul-medio: #6998ab;
$azul-fraco: #b1d0e0;
$branco: #fff;
$preto: #181818;

// Funções
@function rem($size: 16) {
  @return $size / 16 + rem;
}
