body.user {
  background-color: #b1d0e0;
}

body.home {
  background-color: #fff;
}

.logo {
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.profile {
  width: 200px;
  position: fixed;
  bottom: 80px;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  transition: all 0.2s;
}

.profile span {
  cursor: pointer;
}

.weight {
  font-weight: bold;
}