@import "../../_var-mixins";

.modal-confirm {
  span {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    p {
      font-family: $font-roboto;
      margin-left: 0.5rem;
      color: $preto;
    }
    svg {
      width: 24px;
      color: white;
      background-color: rgb(231, 41, 41);
      border-radius: 50%;
    }
  }
}

.modal-confirm__buttons {
  .modal-confirm_btn {
    font-family: $font-roboto;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
  }

  .modal-confirm_btn--confirm {
    background: $azul;
    color: $branco;
    & {
      margin-left: 1rem;
    }
    &:hover {
      background: $azul-medio;
    }
  }
  .modal-confirm_btn--cancel {
    margin-left: 9.7rem;
    box-shadow: 0 0 2px 1px rgba(0,0,0, .4);
    background-color: white;
    color: $preto;
    &:hover {
      box-shadow: 0 0 2px 1px rgba(0,0,0, .6);
    }
  }
}
