@import "../../assets/styles/_var-mixins";

.usuario {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usuario_logo {
  text-align: center;
  & svg {
    width: 100px;
    height: 100px;
  }
  margin-bottom: 2rem;
}

.usuario__form {
  min-width: rem(400);
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
}

.usuario__icons svg {
  fill: rgb(167, 165, 165);
}

.usuario__button {
  width: 100%;
  text-transform: uppercase;
}

.usuario__forgot {
  display: block;
  margin-bottom: 10px;
}

.usuario__signup {
  display: inline-block;
  margin-top: 10px;
}


